# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
.env/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.idea/

# MacOS metadata
.DS_Store

# Logs
*.log

# Environment and secrets
*.env
